@font-face {
  font-family: 'SF NS Display';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/sfnsdisplay-webfont.eot');
  src: local('SF NS Display'), local('SFNSDisplay'), url('./fonts/sfnsdisplay-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/sfnsdisplay-webfont.woff2') format('woff2'), url('./fonts/sfnsdisplay-webfont.woff') format('woff'), url('./fonts/sfnsdisplay-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/sfnsdisplay-webfont.svg#SFNSDisplay') format('svg');
}

.logo {
  color: initial;
  margin: 0 30px;
}

body {
  font-family: 'SF NS Display' !important;
  letter-spacing: -0.2px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

/* @font-face {
  font-family: 'Averta Demo PE Cutted Demo Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/avertademopecutteddemo-regular-webfont.eot'); 
  src: local('Averta Demo PE Cutted Demo Regular'), local('AvertaDemoPECuttedDemoRegular'),
       url('./fonts/avertademopecutteddemo-regular-webfont.eot?#iefix') format('embedded-opentype'), 
       url('./fonts/avertademopecutteddemo-regular-webfont.woff2') format('woff2'), 
       url('./fonts/avertademopecutteddemo-regular-webfont.woff') format('woff'), 
       url('./fonts/avertademopecutteddemo-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */

/* url('./fonts/avertademopecutteddemo-regular-webfont.svg#AvertaDemoPECuttedDemoRegular') format('svg'); 
}
body {
  font-family: 'Averta Demo PE Cutted Demo Regular' !important;
} */

* header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #e1e4ec
}

.main {
  max-width: 1300px;
  /* margin: 0 auto; */
  margin: 50px auto;
  text-align: left
}

.center {
  width: 450px;
  margin: 35px auto;
  text-align: center
}

.profile {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding-bottom: 30px
}

.profile-switch {
  display: flex;
  align-items: center;
  white-space: nowrap
}

.profile-header {
  display: flex;
  margin-bottom: 20
}

.profile-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px
}

.profile-summary {
  margin: 5px 0;
  font-size: 18px;
  line-height: 28px
}

.page-summary {
  display: flex;
  padding-top: 30px;
  justify-content: space-between
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: flex-end
}

.navigation a {
  padding: 0 30px;
  color: #333;
  display: flex;
  align-items: center
}

.navigation a.active:not(.signOut) {
  border-bottom: 3px solid #00af63;
}

a:hover {
  color: initial !important;
  text-decoration: initial !important
}

form {
  padding: 25px 75px
}

form.login {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,e5e5e5+100 */
  background: #f2f2f2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f2f2 0%, #e5e5e5 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  box-shadow: 0px 0px 10px #f1f1f1;
}

#background, .editProfile {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eef0f4+0,ffffff+100 */
  background: #eef0f4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eef0f4 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eef0f4 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eef0f4 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef0f4', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}

/* Images */

.imageBanner {
  position: relative;
  height: 442px;
  background-image: linear-gradient(to left top, #919191, #ababab, #c7c7c7, #e2e2e2, #ffffff);
  overflow: hidden
}

.imageBanner.set {
  background-image: none
}

.textOverlay {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textOverlay .input-group {
  max-width: 50%;
  margin: 5px auto
}

.textOverlay input {
  margin: 5px auto
}

/* FontAwesome */

.svg-inline--fa {
  margin: 0 5px;
  cursor: pointer
}

/* Buttons */

button {
  width: 300px;
  margin: 25px auto !important;
}

.btn-success {
  background-color: #05b367 !important;
  border-color: #05b637 !important
}

button.connect {
  margin: 20px !important
}

button.connect:hover {
  background-color: #f5f5f5
}

button.loading {
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  padding: 7px 16px
}

button.circle {
  width: initial;
  border-radius: 50%;
  padding: 2px;
  font-size: 1em;
  margin: 0 5px !important
}

.btn.btn-link {
  border-bottom: 1px solid #dfe0e6;
  color: #000;
  text-decoration: none;
  font-size: 14px !important;
}

.btn.active.btn-link {
  border-bottom: 3px solid #06b367;
  text-decoration: none
}

.btn.btn-link:hover {
  color: initial;
  text-decoration: none
}

/* Links */

.link {
  cursor: pointer
}

/* Dashboard */

.statistics {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
}

.statistics>div {
  width: 290px;
  height: 190px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  color: #fff
}

.statistics .svg-inline--fa {
  font-size: 2em
}

.statistics>div div:nth-child(2) {
  font-size: 3em
}

/* Pages */

div.page {
  flex: 0 0 30%;
  width: 395px;
  height: 105px;
  border-radius: 7px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  margin: 1em;
}

div.page p {
  margin: 0
}

.page-image {
  width: 100%;
  opacity: .3
}

.page-name {
  font-size: 60px
}

.page-name.edit {
  font-size: 40px;
  max-width: 350px
}

.page-name:after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: -10px;
  width: 40%;
  border-bottom: 3px solid black;
}

.page-description {
  font-size: 20px
}

.image-change_icon {
  position: absolute;
  z-index: 10;
  bottom: 45px;
  right: 95px
}

.page-controls {
  display: flex;
  justify-content: space-between;
  margin: 20px auto
}

/* Images */

.profilePic {
  background-color: #06b367;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center
}

/* Public Profile */

.public-profile {
  display: flex
}

.profile-tabs {
  display: none !important
}

/* Preview Text */

.previewText {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  color: #333;
  font-weight: lighter
}

.previewText.i {
  -webkit-line-clamp: 1
}
.previewText.iii {
  -webkit-line-clamp: 3
}

/* Videos */

iframe body {
  display: none !important
}

/* Custom Fields */

.title {
  margin: 0;
  font-family: Georgia, 'SF NS Display', sans-serif;
  font-size: 15px
}

.input-group .text-muted {
  color: #4b4bff !important
}

.subscription-plan .btn-light {
  margin-bottom: 25px !important;
  cursor: pointer
}

.subscription-plan button.active {
  background-color: #01ae63 !important;
  color: #fff !important;
}

/* Custom Input */

.verificationInput {
  text-align: center;
  border: none !important;
  font-size: 30px !important;
}

.smInput {
  height: 55px !important;
}

.smLabel {
  font-size: 18px
}

.smSettings .input-group-text {
  background-color: transparent !important
}

.smSettings .input-group input {
  color: #a5a5a8
}

.form-control::placeholder {
  color: #a5a5a8 !important
}

.dropdown.plain button {
  background-color: #fff;
  color: #000;
  width: 213px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #E1E4EC;
  border-radius: 3px;
}

.dropdown.plain .dropdown-menu {
  width: 100%
}

.dropdown.ellipsis button {
  width: initial;
  margin: 0 !important;
  padding: 0;
  background: none;
  border: none
}

.dropdown.ellipsis .dropdown-toggle:after {
  display: none
}

.dropdown.ellipsis.show button.dropdown-toggle.btn.btn-primary, .dropdown.ellipsis.show button.dropdown-toggle.btn.btn-primary:focus, .dropdown.ellipsis.show button.dropdown-toggle.btn.btn-primary:hover, .dropdown.ellipsis.show button.dropdown-toggle.btn.btn-primary:active {
  background-color: transparent;
  border-color: transparent !important;
  box-shadow: none !important
}

.dropdown.ellipsis .btn-primary.focus, .btn-primary:focus {
  background-color: transparent;
  border-color: transparent !important;
  box-shadow: none !important
}

.dropdown.ellipsis .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  box-shadow: none !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.dropdown.ellipsis .dropdown-item:active {
  background-color: initial;
  color: initial
}

.show>.btn-secondary.dropdown-toggle {
  background-color: #02ae63 !important;
  color: #fff !important
}

.file-drop {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #D8D8D7
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white
}

.App-link {
  color: #61dafb
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Transitions */

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/* Phone Graphic View */

/* The device with borders */

.smartphone {
  position: relative;
  width: 410px;
  height: 900px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */

.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */

.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: fixed;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */

.smartphone .content {
  width: 100%;
  height: 640px;
  /* background: white; */
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Social Media */

.social img {
  width: 40px;
  margin: 0 5px;
  cursor: pointer
}

.sm-icon {
  display: inline-flex;
  width: 40px;
  background-color: #fff;
  height: 40px;
  border-radius: 50px;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #7ac8fe;
  vertical-align: middle;
}

.sm-icon img {
  width: 20px
}

form.stripe {
  background: #F6F9FC;
  width: 480px;
  padding: 0;
  margin: 50px auto;
  margin-top: 0;
  padding: 35px;
  box-shadow: 0 5px 15px #e2e2e2;
}

form.stripe label {
  position: relative;
  color: #6A7C94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
}

label>span {
  width: 115px;
}

.field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: .25rem;
  color: #32315E;
  outline: none;
  flex: 1;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
}

.field::-webkit-input-placeholder {
  color: #CFD7DF;
}

.field::-moz-placeholder {
  color: #CFD7DF;
}

.field.StripeElement--focus {
  border-color: #01ae63;
}

form.stripe button {
  display: block;
  background-color: #01ae63;
  border-radius: .25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10), inset 0 -1px 0 0 #45e59b;
  color: white;
  border: 0;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  line-height: 48px;
  outline: none;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #F8B563;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}

.bm-burger-button, .nav-mobile {
  display: none;
}

.nav-mobile a {
  color: initial;
}

/* Burger Menu */

/* Position and sizing of burger button */

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 20px
}

.bm-burger-button button {
  margin: 0 !important
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
  background: #373a47;
  height: 3px !important;
  left: initial !important
}

span.bm-burger-bars:first-child {
  width: 30px
}

span.bm-burger-bars:nth-child(2) {
  width: 20px;
  top: 30% !important
}

span.bm-burger-bars:nth-child(3) {
  width: 15px;
  top: 60% !important
}

/* Color/shape of burger icon bars on hover*/

.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */

.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu h5 {
  margin-bottom: 2.5px
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
  color: #000b00;
  padding: 0.8em;
}

.bm-item:focus {
  outline: none
}

/* Individual item */

.bm-item.menu-item {
  display: inline-block;
  border-bottom: 1px solid #dfe1e6;
  padding: 13px 0;
  display: flex !important;
  justify-content: space-between !important
}

.bm-menu-wrap {
  bottom: 0;
  left: 0;
}

.bm-item p {
  font-size: 14px;
  margin: 0
}

/* Styling of overlay */

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Responseiveness */

@media (max-width: 1300px) {
  .main {
    margin: 50px 75px;
  }
  .statistics>div {
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
}

@media (max-width: 1018px) {
  .test {
    justify-content: center !important;
  }
}

@media (max-width: 992px) {
  .bm-burger-button, .nav-mobile {
    display: initial
  }
  .navigation {
    display: none;
  }

  /* Dashboard */
  .statistics {
    flex-wrap: wrap;
  }
  .statistics>div {
    margin: 15px;
    width: 40%;
  }
}

@media(max-width: 767px) {
  .logo {
    font-size: 30px
  }
  .main, .center {
    width: 90%
  }
  .main {
    margin: 20px auto;
    width: 90%
  }
  form {
    padding: 25px !important
  }
  form button {
    width: 100%
  }
  /* Pages */
  a.page {
    width: 100%
  }
  div.page {
    width: 100%;
    margin: 1em 0
  }
  .imageBanner {
    height: 345px
  }
  .page-image {
    height: 345px;
    object-fit: cover
  }
  .textOverlay button {
    width: 235px;
    font-size: 16px
  }
  .textOverlay .input-group {
    width: 70% !important;
    margin: 10px auto
  }
  .page-name {
    font-size: 28px !important
  }
  .page-name.edit {
    font-size: initial;
    max-width: initial
  }
  .page-name:after {
    margin-top: 0
  }
  .page-description {
    font-size: 16px;
    max-width: 90%
  }
  .image-change_icon {
    bottom: 5%;
    right: 5%
  }
  .page-controls {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0
  }
  .page-stats {
    font-size: 14px
  }
  .profile {
    flex-direction: column;
    padding-bottom: 0
  }
  .profile-switch {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px
  }
  .profile-header {
    flex-direction: column;
    align-items: center
  }
  .profile-header img {
    margin-right: 0 !important
  }
  .profile-header button {
    width: 55px;
    height: 27px;
    margin-top: 5px !important
  }
  .profile-name {
    align-items: center;
    margin-right: 0
  }
  .profile-summary {
    text-align: center
  }
  .page-summary {
    flex-direction: column;
    align-items: center
  }
  .page-summary>div {
    padding-right: 0 !important
  }
  /* Videos */
  iframe {
    width: 100%;
    height: auto
  }
  /* Public Profile */
  .public-profile {
    flex-direction: column
  }
  .profile-link .input-group-prepend .input-group-text {
    font-size: 12px
  }
  .profile-link input {
    font-size: 14px
  }
  .profile-tabs {
    display: inline-flex !important
  }
  .profile-tabs button {
    margin-bottom: 0 !important
  }
  .public-profile .center {
    margin-bottom: 0
  }
  .editProfile .center {
    width: 100%;
    margin: 0
  }
  .smartphone {
    width: initial;
    height: initial;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    overflow: none
  }
}

@media (max-width: 600px) {
  .statistics>div {
    width: 100%
  }
}